body {
    background-color: #EEEEEE;
    text-align: center;
    font-family: monospace;
}

p {
    margin: 0px;
    padding: 0px;
}

.WelcomeText {
    padding-top: 200px;
}

.WelcomeText-big {
    font-size: 50px;
    color: #222831;
}

.WelcomeText-small {
    font-size: 15px;
    color: #393E46;
}