body {
    background-color: #eeeeee
}

p {
    margin: 0px;
    padding: 0px;
}

.WelcomeText {
    text-align: center;
    padding-top: 200px;

    font-family: monospace;
}

.WelcomeText-big {
    font-size: 50px;
}

.WelcomeText-small {
    font-size: 10px;
}